.our-client {
 background-color: $blue-04;
 color: #fff;
 border-top-left-radius: 200px;
 display: flex;
 justify-content: center;
}

.our-client__info {
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 97px;
    margin: 97px auto 100px auto;
}
.our-client__subtitle {
    max-width: 540px;
    min-height: 80px;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 5%;
    opacity: 0.6;
}

.our-client__grid {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
}

.our-client__item {
    color: $gray-06;
    padding: 41px 46px;
    font-size: 20px;
    border-right: 1px solid rgba(255, 255, 255, 0.15);
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    

    &:nth-child(4n) { // Каждый 4-й элемент
        border-right: none;
    }
    
    &:nth-last-child(-n+4) { // Последние 4 элемента
        border-bottom: none;
    }

    &:last-child {
        background-color: rgba(31, 63, 104, 0.2);
    }
}