 body.modal-open {
   overflow: hidden;
 }

 /* Оверлей */
 .modal-overlay {
   display: none;
   position: fixed;
   inset: 0;
   background: rgba(0, 0, 0, 0.55);
   z-index: 1000;
   justify-content: center;
   align-items: center;
 }

 .modal-overlay.active {
   display: flex;
 }

 /* Контейнер */
 .modal-content {
   display: flex;
   flex-direction: column;
   align-items: start;
   background: #fff;
   border-radius: 16px;
   padding: 40px 30px;
   min-width: 450px;
   box-shadow: 5px 10px 50px 0px #1070B133;
   position: relative;
   animation: fadeIn 0.3s ease;
 }


 /* Кнопка закрытия */
 .close-btn {
  padding: 12px;
   position: absolute;
   top: 0;
   right: 0;
   border: none;
   border-radius: 50%;
   font-size: 30px;
   color: #333;
   background-color: #fff;
   cursor: pointer;
   text-align: center;

 }

 .modal__title {
   font-size: 22px;
   font-weight: 600;
   color: #003366;
   margin-bottom: 20px;
   text-align: center;
 }

 /* Форма */
 .modal__form {
   display: flex;
   flex-direction: column;
   gap: 15px;
   width: 100%;
 }

 .modal__form label {
   font-size: 14px;
   font-weight: 500;
   color: #333;
   display: flex;
   flex-direction: column;
   gap: 6px;
 }

 .modal__form input,
 .modal__form textarea {
   padding: 1rem 2rem;
   border: 1px solid #ccc;
   border-radius: 8px;
   font-size: 14px;
   font-family: inherit;
   resize: none;
   transition: border 0.2s, box-shadow 0.2s;
 }

   .modal__form input::placeholder,
   .modal__form textarea::placeholder {
    color: rgba(31, 63, 104, 0.2);
    font-family: Gilroy;
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 4%;
   }

 .modal__form input:focus,
 .modal__form textarea:focus {
   border-color: #003366;
   box-shadow: 0 0 0 3px rgba(0, 51, 102, 0.2);
   outline: none;
 }

 .modal__form--button {
   width: 100%;
   background-color: $blue-04;
   border-radius: 10px;
   padding: 23px 10%;
   text-align: center;
  box-shadow: 5px 10px 20px 0px #1070B133;

 }

 .submit-btn {
   padding: 0;
 }

 /* Адаптив */
@media (max-width: 480px) {
  .modal-content {
    padding: 20px 15px;
    width: 95%;
    min-width: unset;
    gap: 2rem;
  }

  .close-btn {
    top: 8px;
    right: 8px;
    width: 32px;
    height: 32px;
    font-size: 20px;
  }

  .modal__title {
    font-size: 20px;
    margin-bottom: 15px;
  }

  .modal__form input,
  .modal__form textarea {
    font-size: 14px;
    padding: 10px 12px;
  }

  .submit-btn {
    padding: 12px;
    font-size: 15px;
  }
}