 body.modal-open {
   overflow: hidden;
 }

 /* Оверлей */
 .modal-overlay {
   display: none;
   position: fixed;
   inset: 0;
   background: rgba(0, 0, 0, 0.55);
   z-index: 1000;
   justify-content: center;
   align-items: center;
 }

 .modal-overlay.active {
   display: flex;
 }

 /* Контейнер */
 .modal-content {
   display: flex;
   flex-direction: column;
   align-items: start;
   background: #fff;
   border-radius: 16px;
   padding: 40px 30px;
   min-width: 450px;
   box-shadow: 5px 10px 50px 0px #1070B133;
   position: relative;
   animation: fadeIn 0.3s ease;
 }


 /* Кнопка закрытия */
 .close-btn {
  padding: 12px;
   position: absolute;
   top: 0;
   right: 0;
   border: none;
   border-radius: 50%;
   font-size: 30px;
   color: #333;
   background-color: #fff;
   cursor: pointer;
   text-align: center;

 }

 .modal__title {
   font-size: 22px;
   font-weight: 600;
   color: #003366;
   margin-bottom: 20px;
   text-align: center;
 }


 /* Адаптив */
@media (max-width: 480px) {
  .modal-content {
    padding: 20px 15px;
    width: 95%;
    min-width: unset;
    gap: 2rem;
  }

  .close-btn {
    top: 8px;
    right: 8px;
    width: 32px;
    height: 32px;
    font-size: 20px;
  }

}