.footer-wrapper {
    background-color: $blue-04;
    padding-top: 90px;
}

.footer {
    padding-top: 90px;
    display: flex;
    justify-content: start;
    color: white;
    background-color: $blue-02;
    border-top-right-radius: 200px;
    max-width: 95%;
}
.footer__container {
  display: grid;
  grid-template-rows: auto auto;
  row-gap: 40px;                
  width: 90%;
  margin: 0 auto 0 0;
}


.footer__top {
    display: flex;
    width: 100%;
    border-bottom: 1px solid #FFFFFF
}
.footer__top--container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10%;
}
.footer__info {
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.footer__info--title {
    font-family: Gilroy;
    font-weight: 600;
    font-size: 36px;
    line-height: 46px;
    letter-spacing: 5%;
    width: 100%;
}

.footer__info--text {
    max-width: 460px;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.6)
}

.footer__cta--button button {
    padding: 15px 74px;
}


.footer__logo {
    display: flex;
    align-items: center;
    gap: 16px;
    ;
}

.footer__logo p {
    font-size: 26px;
}

.footer__bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10%;
}

.footer__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 90px;
    justify-content: center;

}

.footer__grid--item {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 24px;
    justify-content: start;
}

.footer__item--title {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 5%;
}

.footer__item--list {
    display: flex;
    flex-direction: column;
    gap: 16px;

}

.footer__item--address,
.footer__item--number,
.footer__item--email {
    display: flex;
    align-items: start;
    gap: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 5%;
    text-align: start;
}

.footer__copyright p {
    font-weight: 400;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.4);
    line-height: 26px;
    letter-spacing: 5%;
}

@media (max-width: 768px) {
    .footer {
        padding-top: 50px;
        max-width: 100%;
    }

    .footer__info {
        align-items: center;
        text-align: center;
    }

    .footer__info--title {
        font-size: 28px;
        line-height: 36px;
    }

}

@media (max-width: 1024px) {
    .footer__top--container {
        flex-direction: column;
        margin: 0 0 50px 0;
        align-items: center;
        gap: 1rem;
    }
    .footer__grid {
        grid-template-columns: 1fr;
        gap: 40px;
        max-width: 90%;
    }

    .footer__bottom {
        align-items: center;
        text-align: center;
        gap: 32px;
    }
        .footer__item--list {
        align-items: start;
        text-align: start;
    }
}
