.footer-wrapper {
  background-color: $blue-04;
  padding-top: 90px;
}

.footer {
  color: white;
  background-color: $blue-02;
  border-top-right-radius: 200px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding-top: 90px;
}

.footer__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* Верх футера */
.footer__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
min-width: 1000px;
}

.footer__info {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-bottom: 5%;
}

.footer__info--title {
  font-family: Gilroy;
  font-weight: 600;
  font-size: 36px;
  line-height: 46px;
  letter-spacing: 5%;
}

.footer__info--text {
  max-width: 460px;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.6);
}


/* Кнопка */
.footer__cta--button button {
  padding: 15px 74px;
}
.footer__line {
    width: 100%;
    background-color: #fff;
    height: 1px;
}
/* Нижняя часть футера */
.footer__bottom {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 32px;
  min-width: 1000px;
}

.footer__line {
  top: 180px;              
  left: 0;               
  right: auto;
  width: auto;
  height: 1px;
  background-color: #fff;
  z-index: 1;
  height: 1px;
}

/* линия до кнопки */
.footer__line::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: calc(100% - 330px);
  height: 1px;
  background-color: #fff;
}

.footer__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 90px;
  margin: 0 auto;
  width: 100%;
}

.footer__grid--item {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.footer__logo {
  display: flex;
  align-items: center;
  gap: 16px;
}

.footer__logo p {
  font-size: 26px;
}

.footer__item--title {
  font-weight: 600;
  font-size: 20px;
}

.footer__item--list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer__item--address,
.footer__item--number,
.footer__item--email {
  display: flex;
  align-items: start;
  gap: 16px;
  font-size: 16px;
}

.footer__copyright p {
  font-weight: 400;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.4);
}

/* Адаптив */
@media (max-width: 1024px) {
  .footer__grid {
    grid-template-columns: 1fr;
    gap: 40px;
    max-width: 90%;
  }
}

@media (max-width: 768px) {
  .footer__top {
    flex-direction: column;
    gap: 10px;
  }

  .footer__info {
    align-items: center;
    text-align: center;
  }

  .footer__info--title {
    font-size: 28px;
    line-height: 36px;
  }

  .footer__line {
    width: 100%;
  }

  .footer__bottom {
    align-items: center;
  }
}
